/.DS_Store
/5.db
/5.sqbpro
/Sample-Superstore.csv
/project5.db
/superstore_database.db

*.csv
*.twb
SQLite_Python_Connector_example.ipynb
*.tps
superstore_database2.dsn
Bookmarks/
Connectors/
Datasources/
Extensions/
Logs/
Mapsources/
OAuthConfigs/
Services/
Shapes/
Workbooks/
.~Project5_DV__99247.twbr
Preferences.tps
